.header{
    display: flex;
    background: #1C2B35;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    color: white;
}
.listing{
    display: flex;
    list-style-type: none;
    gap: 20px;
}
